<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MalViz.ai</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header_black">
				<h1><a href="/">MalViz.ai</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/mygraphs">My Graphs</a></li>
						<li><a href="/logout">Log out</a></li>
						<li><a href="/signup" class="button special">{{USER_NAME}}</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="main" class="wrapper">
				<div class="container">
				<!-- Image -->
						<section>
							<br><br>
							<div class="box alt">
								<div class="row 50% uniform">
									{{MYFILES}}
								</div>
							</div>
						</section>
				</div>
			</section>
	</body>
</html>