<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MalViz.ai</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <script src="vis-network/dist/vis-network.min.js"></script> 
    <link rel="stylesheet" href="vis-network/dist/vis-network.min.css"/>

  <style type="text/css">
    #mynetwork {
      width: 1500px;
      height: 800px;
      border: 1px solid red;
      background-color: white;
    }
  </style> 
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
  </head>
  <body class="landing">

    <!-- Header -->
      <header id="header_black">
        <h1><a href="/">MalViz.ai</a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/graph">Graphs</a></li>
            <li><a href="/login">log in</a></li>
            <li><input type="button" onclick="togglePhysics()" value="Toggle Physics"></li>
            <li><input type="button" onclick="clusterByCid()" value="Reset"></li>
          </ul>
        </nav>
      </header>
      <br><br><br><br>
      <section>
        <div id="mynetwork"></div>
      </section>
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet({{NODES}});
 
  // create an array with edges
  var edges = new vis.DataSet({{EDJES}});

  // clusters  map cid with label
  var clusters = new Map({{CLUSTERS}});

  var colors=['#9c2121','#ffba87','#71a83a','#beedcd','#ff8a7','#e0eb1c','#b723a5','#f3c238','#59b6eb','#2b2a6f','#f05c15'];

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
      nodes: {
        scaling: {
          min: 10,
          max: 30
        },
        font: {
          size: 12,
          face: 'Tahoma'
        }
      },
      edges: {
        width: 0.15,
        color: {inherit: 'from'},
        smooth: {
          type: 'continuous'
        }
      },
      physics: {
        enabled: true,
        stabilization: false,
        barnesHut: {
          gravitationalConstant: -80000,
          springConstant: 0.001,
          springLength: 10
        }
      },
      interaction: {
        tooltipDelay: 200,
        hideEdgesOnDrag: false
      },
      manipulation: {
        enabled: true
      }
    };
  var network = new vis.Network(container, data, options);
    network.on("selectNode", function(params) {
      if (params.nodes.length == 1) {
          if (network.isCluster(params.nodes[0]) == true) {
              network.openCluster(params.nodes[0]);
          }
      }
  });
  function clusterByCid() {
      network.setData(data);
      var clusterOptionsByData;
      console.log(clusters);
      for (var i = 0; i < clusters.size; i++) {
          let cluster = i+1;
          console.log(cluster);
          clusterOptionsByData = {
              joinCondition: function (childOptions) {
                  return childOptions.cid == cluster; // the color is fully defined in the node.
              },
              processProperties: function (clusterOptions, childNodes, childEdges) {
                  var totalMass = 0;
                  for (var i = 0; i < childNodes.length; i++) {
                      totalMass += childNodes[i].mass;
                  }
                  clusterOptions.mass = totalMass;
                  return clusterOptions;
              },
              clusterNodeProperties: {allowSingleNodeCluster: true, id: 'cluster:' + cluster, borderWidth: 3, shape: 'database', color:colors[cluster%11], label:'cluster:' + clusters.get(cluster),cid:0}
          };
          network.cluster(clusterOptionsByData);
      }
      clusterOptionsByData = {
              joinCondition: function (childOptions) {
                // console.log(childOptions);
                  return childOptions.cid == 0; // the color is fully defined in the node.
              },
              clusterNodeProperties: {allowSingleNodeCluster: true, id: 'cluster:master', borderWidth: 3, shape: 'database', color:colors[0], label:'Click Here'}
          };
          network.cluster(clusterOptionsByData);
  }
  var physics= true;
  function togglePhysics(){
    physics=!physics;
    var options = {
      physics: {
        enabled: physics
      }
    }
    network.setOptions(options);
  }
  var options = {
  nodes: {
    borderWidth: null,
    borderWidthSelected: null,
    font: {
      size: 80,
      face: "tahoma",
      strokeWidth: 0
    },
    size:100,
    scaling: {
      min: 10,
      max: 30,
      label: {
        enabled: false,
        min: 14,
        max: 30,
        maxVisible: 30,
        drawThreshold: 5
      }
    }
  },
  edges: {
    length:5,
    font: {
      size: 60,
      strokeWidth: 0
    },
    smooth: {
      type: "discrete"
    },
    width: 0.15
  },
  configure: {
    enabled: false,
    filter: 'nodes,edges',
    container: undefined,
    showButton: true,
  }
}

network.setOptions(options);
clusterByCid();

</script> 
</body>
</html>