<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>MalViz.ai</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body class="landing">
		<!-- Header -->
		<header id="header">
			<h1><a href="/">MalViz.ai</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/mygraphs">My Graphs</a></li>
					<li><a href="/logout">Log out</a></li>
					<li>
						<a href="/signup" class="button special"
							>{{USER_NAME}}</a
						>
					</li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<h2>Malware Visualization</h2>
			<p>Detect, classify and visulaize malware properties.</p>
			<ul class="actions">
				<li>
					<form
						method="post"
						action="/Upload"
						enctype="multipart/form-data"
					>
						<input
							type="file"
							id="FileUpload"
							name="malware"
							placeholder="FileUpload"
							class="inputfile"
							name="malware"
						/>
						<label for="FileUpload">Choose a .exe file</label>
						<br />
						<p id="demo"></p>
						<button
							type="button"
							onclick="ergo()"
							value="Upload Malware"
							class="button icon fa-download"
							id="uploadBtn"
						>Detect Malware</button>
					</form>
				</li>
			</ul>
		</section>

		<script>
			function ergo() {
				//document.getElementById("demo").innerHTML = "Hello World";
				const fileInput = document.querySelector("#FileUpload");
				const formData = new FormData();

				formData.append("x", fileInput.files[0]);

				const options = {
					method: "POST",
					body: formData
					// If you add this, upload won't work
					// headers: {
					//   'Content-Type': 'multipart/form-data',
					// }
				};
				console.log(fileInput.files[0].name);
				document.getElementById("demo").innerHTML = "Loading";
				fetch("http://localhost:8080/", options).then(function(response) {
    return response.json();
  }).then(function(data) {
  	let clean=data.clean*100;
  	let mal=data.malicious*100;
  	let c=clean.toFixed(2);
  	let m=mal.toFixed(2);
  	let out=`${fileInput.files[0].name} is `;
  	if(clean>mal)
  		out+=`clean with ${c}% confidence`;
    if(mal>=40) {
  		out+=`Mallicous with ${m}% confidence`;
  		var uploadBtn = document.getElementById("uploadBtn");
  		uploadBtn.type = "submit";
  		uploadBtn.innerHTML="Upload Malware"
  	}
    document.getElementById("demo").innerHTML = out;
  });
			}
		</script>
		
	</body>
</html>
